# Node.js
**/node_modules/
dist/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.out
*.pid

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Docker
*.tar
*.pid

# IDE/editor configs
.vscode/
.idea/
*.swp