name: CI/CD Parent Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      runs_on:
        description: "GitHub runner label or JSON array of labels to run the job on (e.g. 'ubuntu-latest', '[\"self-hosted\",\"wsl-2\",\"docker\"]')"
        required: false
        type: choice
        options:
          - '["self-hosted", "wsl-2", "docker"]'
          - '["ubuntu-latest"]'
        default: '["ubuntu-latest"]'

jobs:
  build-test-scan:
    uses: ./.github/workflows/build-test-scan.yaml
    secrets:
      package_token: ${{ secrets.PACKAGE_TOKEN }}

  deploy:
    needs: build-test-scan
    uses: ./.github/workflows/deploy-helm-argocd.yaml
    with:
      image_tag: ${{ github.sha }}
      chart_dir: "./helm/my-node-app-chart"  # path to Helm chart in the repo
      runs_on: ${{ inputs.runs_on || '["self-hosted", "wsl-2", "docker"]' }}
    secrets:
      package_token: ${{ secrets.PACKAGE_TOKEN }}
